<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- templates/registration/login.html -->
<body>
<a href="{% url "home" %}">Главная</a>
<form method="post">
    {% csrf_token %}
    <label id="username" for="{{ form.username.id_for_label }}">Имя:</label>
    {{ form.username }}
    <label id="password" for="{{ form.password.id_for_label }}">Пароль:</label>
    {{ form.password }}
    <button id="login" type="submit">Войти</button>
</form>
<p>Вы не зарегистрированны?</p>
<a href="{% url "signup" %}?next={% firstof request.path '/' %}">Регистрация</a>
</body>

</html>